import(ggplot2)
importFrom("stats", "fitted", "as.formula", "terms", "model.frame", "model.response", 
           "model.matrix", "lm", "glm", "aggregate", "var")

export(bal.tab, bal.plot, love.plot, f.build)
S3method(print, bal.tab)
S3method(print, bal.tab.subclass)
S3method(bal.tab, matchit)
S3method(bal.tab, ps)
S3method(bal.tab, Match)
S3method(bal.tab, CBPS)
S3method(bal.tab, formula)
S3method(bal.tab, data.frame)