import(ggplot2)
importFrom("stats", "fitted", "reformulate", "terms", "model.frame", "model.response", 
           "model.matrix", "lm", "glm", "aggregate", "var", "cor", "median")
importFrom("utils", "combn")
importFrom("grDevices", "col2rgb")

export(bal.tab, bal.plot, love.plot, f.build)
S3method(print, bal.tab)
S3method(print, bal.tab.subclass)
S3method(print, bal.tab.cluster)
S3method(print, bal.tab.cont)
S3method(print, bal.tab.cont.cluster)
S3method(bal.tab, matchit)
S3method(bal.tab, ps)
S3method(bal.tab, Match)
S3method(bal.tab, CBPS)
S3method(bal.tab, formula)
S3method(bal.tab, data.frame)
S3method(bal.tab, ebalance)